.header {
	&-content {
		width: 100%;
		height: $window-height;
		display: flex;

		.cover {
			background: url(../img/background-header.jpg) no-repeat center; 
			background-size: cover;
			display: flex; 
			flex: 1;
			flex-direction: column;
			color: white;
			height: 100%;
			@include opacity(1);
			@include transition(all 0.8s ease-in-out);
			&.out  {
				height: 0;
				@include opacity(0);
			}
			&.in {
				height: 100%;
				@include opacity(1);	
			}
			&-title {
				display: flex;
				flex: 1;
				justify-content: flex-end;
				align-items: center;
				padding: 0 8rem;

				.title {
					white-space: pre-line;
					@include lato(300, 4rem);
					@include title-line;
					padding: 4rem 5rem;
				}
			}
			&-ctas {
				@include flex-aligns(space-between, center);
				flex-direction: column;
				flex: 1;
				margin-top: -5.5rem;
				padding-bottom: 6.5rem;

				&-item {
					@include flex-aligns;
					flex-direction: column;
					cursor: pointer;

					.label {
						padding-top: 1rem;
						
					}
					&.play {

						.icon-play {
							@include flex-aligns;
							width: 11rem;
							height: 11rem;
							@include border-radius(5.5rem);
							border: .3rem solid rgba($color-light, 0.8);
							padding-left: .5rem;

							&:before {
								content: "";
								display : block;
								height : 0;
								width : 0;
								border-top : 1.7rem solid transparent;
								border-bottom : 1.7rem solid transparent;
								border-left : 3rem solid rgba($color-light, 0.8);
							}							
						}
						.label { @include font-primary(300, 2.5rem);  }
					}
					&.scroll {
						.icon-scroll {
							font-size: 4rem;
						}
						.label {
							font-weight: 300;
							font-size: 2.4rem;
						}
					}
				}
			}
		}	
	}
	&-video {
		&.out {
			display: none;
			iframe {
				display: none;
			}
		}
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: $window-height;
		@include flex-aligns;

		iframe {
			width: 100%;
			height: $window-height;
		}
	}
	&-nav {
		background: white;
		width: 100%;
		&.fixed {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 10;
		}
		&.static {
			position: static;
		}
	}
	
}